form{
  width: 210px;
  padding: 15px;
  background: rgb(83,175,19);
  #valueInput{
    background: rgb(152,205,113);
    border: rgb(83,175,19);
    font: {
      size: 28px;

    };
    text-align: center;
    width: 100px;
    color: #f70513;
  }
  #fireButton{
    @extend #valueInput;
    color: #000000;
  }
}
